html {
 margin: 0;
 padding: 0;
}
body {
  background: #f0f0f0 url('../img/dashboard-background.jpg') repeat 0% 0%;
  margin: 0;
  padding: 0;
}

a { text-decoration:none; text-shadow: #fff 0 1px 0;}
a:link    { color:#333; }
a:visited { color:#333; }
a:hover   { color:#666; }
a:active  { color:#666; }

a, button,
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  display:block;
}

h1, h2, h3, h4, h5, h6 {
  position:relative;
  top:-5px;
}

h2 {
  font-size:20pt;
  float: left;
  text-shadow: #fff 0 1px 0;
}

h4 {
  font-size:12pt;
  float: right;
  top: 4px;
  color: #ccc;
  text-shadow: #fff 0 1px 0;
}

hr {
  clear: both;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.clear { clear:both;;}

#sidebar a {
  margin-bottom:10px;
}

#container {
  width:960px;
  margin:0 auto;
  padding:0 20px;
}

#container > li {
  display:inline-block;
  vertical-align:top;
  background-color:#eee;
}

header {
  display:block;
  padding: 12px 10px 7px;
  text-align: left;
  color: #fff;
  border-bottom: 2px solid #0CAAD1;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.26, rgb(33,33,33)),
      color-stop(0.83, rgb(56,55,56))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(33,33,33) 26%,
      rgb(56,55,56) 83%
  );
}


header h1 {
  font-size:11pt;
  margin: 10px 0px 0px;
  line-height: 0;
  text-shadow: #000 0px 1px 0px;
}

#sidebar {
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:37px;
  left:0;
  right:0;
  padding:5px 15px 0px 15px;
  width:270px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

#createprojectform, #createtaskform, #viewlistcontainer, #tasklistcontainer {
  padding:10px 0;
}

#createprojectform h2, #createprojectform h4,
#createtaskform    h2, #createtaskform    h4,
#tasklistcontainer h2, #tasklistcontainer h4 {
  display: inline;
  zoom: 1; 
  *display: inline;
  margin-bottom: 10px;
}

#createprojectname, #createtaskname {
  display:block;
  width:258px;
  margin:0 0 5px 0;
}
#createtaskname {
  display:block;
  width:100%;
  margin:0 auto 2px;
}

#sidebar input[type=text] {
  border:1px solid #ccc;
  padding: 10px 5px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

#window {
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:37px;
  left:301px;
  right:0;
  padding:5px 15px 0px 15px;
  width:679px;
  border-left: 1px solid #fff;
}

#window input[type=text] {
  border:1px solid #ccc;
  padding: 10px 5px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

.task {
  position:relative;
  min-height:15px;
  margin-right:50px;
  margin-bottom:15px;
  padding:10px;
  padding-left:30px;
  padding-bottom:20px;
  background-color:#ccc;
}

.task > * {
  display:inline-block;
  zoom: 1; 
  *display: inline;
  vertical-align:top;
}

.taskTagsLabel, .taskSaveButton, .taskCancelButton {
  display:none;
}

.taskDeleteButton, .taskArchiveButton {
  position:absolute;
  top:5px;
  right:-50px;
}

.taskArchiveButton {
  top:28px;
}

.taskTodayChecker {
  position:absolute;
  left:7px;
  opacity:0.5;
}

.taskTodayChecker:hover, .taskTodayChecker.todaySet {
  opacity:1;
}

.taskNameLabel {
  width:380px;
}

.taskDueLabel {
  float:right;
  margin-right:4px;
}

.taskDescLabel {
  width:580px;
  height:70px;
  margin-top:5px;
}


/*      BUTTON
------------------------------------------------------------------------------*/
.createbutton { 
  color: #fff; 
  cursor: pointer;
  margin: 4px 4px 4px 0;
  border: solid 1px #117094; 
  font-size: 12px; 
  font-weight: bold; 
  height: 30px; 
  width: 92px; 
  border-radius: 7px; 
  -webkit-border-radius: 7px; 
  -moz-border-radius: 7px; 
  background: -webkit-gradient(linear, left top, left bottom, from(#19c5f0), to(#0266c2)); 
  background: -moz-linear-gradient(top,  #19c5f0,  #0266c2); 
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#19c5f0', endColorstr='#0266c2'); 
  -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#19c5f0', endColorstr='#0266c2');
}

.createbutton:hover { 
  background: -webkit-gradient(linear, left top, left bottom, from(#0266c2), to(#19c5f0)); 
  background: -moz-linear-gradient(top,  #0266c2,  #19c5f0); 
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0266c2', endColorstr='#19c5f0'); 
  -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0266c2', endColorstr='#19c5f0');
}

.cancelbutton { 
  color: #fff; 
  cursor: pointer;
  margin: 4px 4px 4px 0;
  border: solid 1px #117094; 
  font-size: 12px; 
  font-weight: bold; 
  height: 30px; 
  width: 92px; 
  border-radius: 7px; 
  -webkit-border-radius: 7px; 
  -moz-border-radius: 7px; 
  background: -webkit-gradient(linear, left top, left bottom, from(#19c5f0), to(#0266c2)); 
  background: -moz-linear-gradient(top,  #19c5f0,  #0266c2); 
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#19c5f0', endColorstr='#0266c2'); 
  -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#19c5f0', endColorstr='#0266c2');
}

.cancelbutton:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#0266c2), to(#19c5f0)); 
  background: -moz-linear-gradient(top,  #0266c2,  #19c5f0); 
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0266c2', endColorstr='#19c5f0'); 
  -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0266c2', endColorstr='#19c5f0');
  
}