#container {
  width:960px;
  margin:0 auto;
}

#container > li {
  display:inline-block;
  vertical-align:top;
  background-color:#eee;
}

#header {
  display:block;
  width:100%;
  padding:15px 0 5px;
  text-align:right;
}

#header > * {
  display:block;
  margin-right:50px;
}

#header h1 {
  font-size:72pt;
}

#sidebar {
  width:260px;
}

#createprojectform, #createtaskform, #viewlistcontainer, #tasklistcontainer {
  padding:10px;
  background-color:#ddd;
}

#createprojectform h2, #createprojectform h4,
#createtaskform    h2, #createtaskform    h4,
#tasklistcontainer h2, #tasklistcontainer h4 {
  display:inline-block;
  vertical-align:top;
}

#createprojectname, #createtaskname {
  display:block;
  width:100%;
  margin:0 auto 2px;
}

#window {
  width:700px;
}

.task {
  position:relative;
  min-height:50px;
  margin-bottom:15px;
  padding:10px;
  padding-left:20px;
  padding-bottom:30px;
  background-color:#ccc;
}

.task > * {
  display:inline-block;
  vertical-align:top;
}

.taskTagsLabel {
  display:none;
}

.taskDeleteButton, .taskArchiveButton {
  position:absolute;
  top:5px;
  right:5px;
}

.taskArchiveButton {
  top:28px;
}

.taskTodayChecker {
  position:absolute;
  left:2px;
}

.taskSaveButton, .taskCancelButton {
  position:absolute;
  left:20px;
  bottom:5px;
}

.taskCancelButton {
  left:64px;
}

.taskDescLabel {
  width:610px;
  height:70px;
}
