* {
  margin:0;
  padding:0;
  border:none;
  list-style:none;
}

a { text-decoration:none; }
a:link    { color:#55d; }
a:visited { color:#55d; }
a:hover   { color:#77f; }
a:active  { color:#77f; }

body {
  font:1em "Georgia", sans-serif;
  color:#444;
}

h1 {
  font-size:42pt;
  margin-right:30px;
  padding:10px 50px;
  text-align:right;
}

h2, h3 {
  display:inline-block;
  margin-bottom:15px;
}

hr {
  margin:5px 0;
  border: 1px solid #aaa;
}

#projectform {
  background-color:#ddd;
}

fieldset {
  margin-bottom:10px;
  padding:10px;

}

input, textarea, button {
  margin-bottom:10px;
  padding:7px;
  border-radius:15px;
}

input, textarea {
  min-width:90%;
}

button.cancel {
  width:60px;
}

button#createsubmit,
button.addsubmit {
  width:150px;
}

textarea {
  width:420px;
  height:50px;
}

#container {
  width:960px;
  margin:0 auto;

  background-color:#ddd;
  list-style:none;
}

#sidebar, #window {
  display:inline-block;
  margin:0px;
  padding:15px;
  vertical-align:top;
  background-color:#eee;
}

#sidebar {
  width:212px;
  margin-right:-5px;
  border-right:8px solid #444;
}

#createproj {
  display:block;
  margin-bottom:15px;
}

#window {
  width:680px;
}

#tasklist {
  padding:15px;
  background-color:#fff;
}

.task {
  position:relative;
  padding:5px;
  background-color:#e5e5e5;
}

.taskname {
  margin-right:15px;
}

.taskend {
  position:absolute;
  right:15px;
}

.taskdelete {
  visibility:hidden;
}

.task:hover .taskdelete {
  visibility:visible;
}

.taskdue {
  color:#999;
}
